<div class="cookies-holder" style="display:none;">
  <div class="container-2 w-container">

    <div class="w-col w-col-9 w-col-stack w-col-tiny-12">
      <p class="cookies-terms"><strong>This website is using cookies</strong> — In order to optimize your experience,
        this website is using cookies. If you continue to browse this website means you agree to our use of cookies.
        See the <a href="/legal-privacy#policy" class="link">privacy agreement</a> for more information.
      </p>
    </div>
    <div class="column-2 w-col w-col-3 w-col-stack w-col-tiny-12 cookie-buttons">
      <a href="#" class="button-outline close-terms w-button">Later</a>
      <a href="#" class="button-outline accept-terms w-button">Accept</a>
    </div>

  </div>
</div>