<div class="footer">
    <div class="w-container flex footer-container">
        <div class="footer-box footer-copyright">© 2021 hi Foundation Ltd.</div>
        <div class="footer-box-main footer-nav-block">
            <nav class="footer-nav center-align">
                <a href="/faq" aria-current="page" class="small-text footerlink">FAQ</a>
                <a href="/security" class="small-text footerlink">Security</a>
                <a href="/legal-privacy" class="small-text footerlink">Legal</a>
                <a href="pdf/hi - Whitepaper (May 2021).pdf" target="_blank"
                    class="small-text footerlink">Whitepaper</a>
            </nav>
        </div>
        <div class="footer-box footer-social-block">
            <nav>
                <a target="_blank" href="https://t.me/hi_official" class="social-media-icon w-inline-block"><img
                        src="images/Telegram.svg" loading="lazy" alt=""></a>
                <a target="_blank" href="https://twitter.com/hi_com_official"
                    class="social-media-icon w-inline-block"><img src="images/twitter.svg" loading="lazy" alt=""></a>
                <a target="_blank" href="https://instagram.com/hi.com.official"
                    class="social-media-icon w-inline-block"><img src="images/instagram.svg" loading="lazy" alt=""></a>
                <a target="_blank" href="https://www.facebook.com/hi.com.official"
                    class="social-media-icon w-inline-block"><img src="images/facebook.svg" loading="lazy" alt=""></a>
                <a target="_blank" href="https://www.reddit.com/r/hi_official/"
                    class="social-media-icon w-inline-block"><img src="images/reddit.svg" loading="lazy" alt=""></a>
            </nav>
        </div>
    </div>
</div>
<div class="sticky-footer-container">
    <div class="footer-referrer footer-buffer-target">
        <div class="footer-referrer-no-auth">
            <div class="mobile">
                <div class="sticky-footer-title">👋 Hey, we are in private beta</div>
                <div class="input-container">
                    <input class="referrer-input" type="text" placeholder="Enter referrer's nickname">
                    <button class="submit-referrer-button">Submit</button>
                </div>
            </div>
            <div class="desktop">
                <div class="sticky-footer-content">
                    <div class="sticky-footer-title">👋 Hey, we are in private beta</div>
                    <div class="input-container">
                        <input class="referrer-input" type="text" placeholder="Tell us the nickname of your referrer">
                        <button class="submit-referrer-button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-auth" style="display:none;">
            <div class="w-container">
                <div class="w-col w-col-4 w-col-tiny-12">
                </div>
                <div class="w-col w-col-4 w-col-tiny-12">
                    <div class="footer-auth-title"><span class="free-sign-up-text">Free sign up with</span>
                        <!-- <a href="https://t.me/hidollars" onclick="jump(1)" target="_blank"> -->
                        <a href="https://t.me/hi_ttttttbot?start=" target="_blank">
                            <button class="sign-up-telegram">
                                <span class="telegram-icon">
                                    <img src="images/telegram_black.svg" loading="lazy"
                                        alt="" /></span>Telegram</button>
                        </a>
                    </div>
                </div>
                <div class="w-col w-col-4 w-col-tiny-12">
                    <div class="footer-auth-coming-soon"><span class="coming-soon-text">Coming Soon</span>
                        <img onclick="location.href='https://api.whatsapp.com/send?phone=85263614737'" src="images/icon/black/whatsapp.svg" loading="lazy" alt="" />

                        <img onclick="jump(3)" src="images/icon/black/facebookmessenger.svg" loading="lazy" alt="" />
                        <img onclick="jump(4)" src="images/icon/black/line.svg" loading="lazy" alt="" />
                        <img onclick="jump(5)" src="images/icon/black/kakaotalk.svg" loading="lazy" alt="" />
                        <img onclick="jump(6)" src="images/icon/black/viber.svg" loading="lazy" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-pre-sales footer-buffer-target" style="display:none">
        <div class="w-container center-align desktop">
            <p><strong>hi Dollars Pre-sale</strong> 🙌 Pre-launch discounts available. Message us to buy some: 
                <a href="mailto:otc@hi.com" target="_blank"><img src="images/icon/black/presale-email.svg"
                        loading="lazy" alt="" /></a>
                <a href="https://t.me/hidollars" target="_blank"></a><img src="images/icon/black/presale-telegram.svg"
                    loading="lazy" alt="" /></a>
                <a href="https://wa.me/85291760753" target="_blank"></a><img
                    src="images/icon/black/presale-whatsapp.svg" loading="lazy" alt="" /></a>
            </p>
        </div>
        <div class="w-container center-align mobile">
            <div class="footer-pre-sales-title"><strong>hi Dollars Pre-sale</strong> 🙌</div>
            <p>Pre-launch discounts available. Message us to buy some: 
            </p>
            <p> <a href="mailto:otc@hi.com" target="_blank"><img src="images/icon/black/presale-email.svg"
                        loading="lazy" alt="" /></a>
                <a href="https://t.me/hidollars" target="_blank"><img src="images/icon/black/presale-telegram.svg"
                        loading="lazy" alt="" /></a>
                <a href="https://wa.me/85291760753" target="_blank"><img src="images/icon/black/presale-whatsapp.svg"
                        loading="lazy" alt="" /></a>
            </p>
        </div>
    </div>
</div>
<div class="footer-buffer"></div>