<div class="nav-wrapper">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease-in-out"
        data-easing2="ease-in-out" data-w-id="52d6b058-8230-cfe5-54e9-67b8cfae3168" role="banner" class="navbar w-nav">
        <div class="nav-container w-container">
            <div class="w-col w-col-6 w-col-tiny-3">
                <a href="/" class="brand w-nav-brand">
                    <img src="images/Logo-Dark.svg" loading="lazy" alt="" class="brand-icon">
                </a>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <a href="/hi-dollars" class="hi-nav-link link-hi-dollar w-nav-link">hi Dollars</a>
                    <a href="/about" class="hi-nav-link link-about w-nav-link">About</a>
                </nav>
            </div>
            <div class="w-col w-col-6 w-col-tiny-9">
                <div class="sticky-toggle">
                    <div class="i-have-referrer active"><img class="emoji"
                            src="images/sticky-toggle-victoryHand.svg"><span>I
                            have a
                            referrer</span></div>
                    <div class="hi-dollars-pre-sale"><img class="emoji" src="images/sticky-toggle-beer.svg"><span>hi
                            Dollars
                            Pre-sale</span></div>
                </div>
                <img src="images/cross.png" loading="lazy" width="28" alt="" class="menu-close">
                <div data-w-id="52d6b058-8230-cfe5-54e9-67b8cfae3182" class="menu-button w-nav-button"><img
                        src="images/mobile-nav-menu.svg" loading="lazy" alt="" class="icon open"></div>
                <nav role="navigation" class="nav-menu w-nav-menu">
                    <div class="mobile-menu-open">
                        <div class="div-block-31">
                            <div class="hi-nav-icon-holder-copy">
                                <a href="/" class="hi-nav-link showmobile w-nav-link">Home</a>
                                <a href="/hi-dollars" class="hi-nav-link showmobile w-nav-link">hi Dollars</a>
                                <a href="/about" class="hi-nav-link showmobile w-nav-link">About</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>